.standard-btn {
    width: fit-content;
}

.quill-textarea__container {
    width: 100% !important;
}

.code-area {
    width: 100%;
    height: 90px !important;
}

.dtool-menu-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: var(--semantic-color-slate-solid-surface-frame-low);

    .header-container {
        display: flex;
        width: 100%;
        padding: var(--core-spacing-400);
        background-color: var(--semantic-color-slate-solid-surface-frame-mid);
        justify-content: space-between;

        .brand {
            display: flex;
            gap: var(--core-spacing-200);

            img {
                height: 25px;
            }
        }

        .action-btn {
            svg {
                cursor: pointer;

                &:hover {
                    rect {
                        fill: var(--component-button-bg-coral-primary-default);
                    }
                }
            }
        }
    }

    .body-container {
        display: flex;
        flex-direction: column;
        height: 400px;


        .menu-container {
            display: flex;
            padding: var(--core-spacing-800);
            gap: var(--core-spacing-400);
            flex-wrap: wrap;

            .menu-btn {
                flex-direction: column;
                width: 100px;
                height: 80px;
                gap: 0px;

                svg,
                img {
                    width: 32px;
                    height: 32px;

                    fill: #ffffff;

                    g {
                        fill: unset;
                    }
                }

                .quill-typography {
                    width: 60px;
                    text-wrap: wrap;
                    text-align: center;
                }
            }
        }

        .content-container {
            display: flex;
            flex-direction: column;
            padding: var(--core-spacing-800);
            gap: var(--core-spacing-800);

            .scroll-container {
                display: flex;
                flex-direction: column;
                overflow: auto;
                width: 100%;
                height: 340px;
                gap: var(--core-spacing-800);

                /* Scrollbar styles for WebKit browsers */
                &::-webkit-scrollbar {
                    width: 4px;
                    /* Adjust the width of the scrollbar */
                }

                &::-webkit-scrollbar-track {
                    background: transparent;
                    /* Track (progress bar) background */
                }

                &::-webkit-scrollbar-thumb {
                    ::-webkit-scrollbar-thumb {
                        background: rgba(0, 0, 0, 0.1);
                        /* Almost transparent thumb */
                        border-radius: 2px;
                        /* Small rounded corners */
                    }
                }

                /* Optional: When the scrollbar thumb is hovered */
                &::-webkit-scrollbar-thumb:hover {
                    background: rgba(0, 0, 0, 0.5);
                    /* Darker color on hover */
                }
            }

            .form-container {
                display: flex;
                flex-direction: column;
                gap: var(--core-spacing-400);

                .dropdown__wrapper {
                    z-index: 1;
                    position: relative;

                    &[aria-expanded="true"] {
                        z-index: 99;
                    }
                }

                .quill-input__container {
                    svg {
                        width: 24px;
                        height: 24px;
                    }
                }

                .action-container {
                    display: flex;
                    width: 100%;
                    justify-content: center;
                }

                .code-container {
                    margin: var(--core-spacing-200) 0;
                }
            }

            .log-container {
                display: flex;
                flex-direction: column;
                width: 100%;

                .log-item {
                    padding: var(--core-spacing-400) 0;
                    display: flex;
                    flex-direction: column;
                    gap: var(--core-spacing-200);
                    border-top: solid 1px var(--semantic-color-slate-solid-surface-normal-midLow);
                }
            }

            .setting-box {
                display: flex;
                flex-direction: column;
                width: 100%;

                .setting-item {
                    padding: var(--core-spacing-400) 0;
                    display: flex;
                    justify-content: space-between;
                    border-top: solid 1px var(--semantic-color-slate-solid-surface-normal-midLow);
                }
            }

            .search-result-container {
                display: flex;
                flex-direction: column;

                .search-result-item {
                    display: flex;
                    padding: var(--core-spacing-400);
                    border-top: solid 1px var(--semantic-color-slate-solid-surface-normal-midLow);
                    font-family: 'Courier New', Courier, monospace !important;

                    &:hover {
                        background-color: var(--component-dropdownItem-bg-selected);

                        .quill-typography {
                            color: var(--component-dropdownItem-label-color-selectedWhite);
                        }

                        .action-item {

                            svg,
                            path {
                                fill: var(--component-dropdownItem-label-color-selectedWhite);
                            }
                        }
                    }


                    .quill-typography {
                        // font-family: var(--core-fontFamily-ibmPlex-mono);
                        font-size: 12px;
                        cursor: pointer;
                    }
                }
            }

            .action-box {
                display: flex;
                margin-left: auto;
                gap: var(--core-spacing-200);

                .action-item {
                    display: flex;
                    position: relative;
                    cursor: pointer;

                    svg {
                        height: 18px;
                        width: 18px;
                    }

                    .code-area {
                        position: absolute;
                        overflow: hidden;
                        height: 20px !important;
                        opacity: 0;
                        cursor: pointer;
                        resize: none;
                    }

                }
            }

            .tree-box {
                display: flex;
                flex-direction: column;
                gap: var(--core-spacing-400);
                padding-left: var(--core-spacing-800);

                .tree-box-item {
                    position: relative;
                    display: flex;

                    &.connector {
                        &::before {
                            content: " ";
                            position: absolute;
                            height: 31px;
                            width: 12px;
                            border-radius: 10px 0px 0px 10px;
                            border: solid 1px var(--semantic-color-slate-solid-surface-normal-midLow);
                            border-right: none;
                            top: -20px;
                            left: -15px;

                        }
                    }

                    .badge {
                        border-radius: 2px;
                        padding: 0 var(--core-spacing-400);
                        min-height: 24px;
                        width: fit-content;
                        height: fit-content;
                        color: var(--semantic-color-slate-solid-surface-normal-high);
         
                    }
                }
            }
        }
    }
}



html {
    &.dark {

        .badge__container,
        .form-container {
            svg {
                fill: #ffffff;

                path {
                    fill: #ffffff;
                }
            }
        }

        .setting-item,
        .log-item {
            border-top: solid 1px var(--semantic-color-slate-solid-surface-normal-high) !important;
        }

        .tree-box {
            .tree-box-item {
                &.connector {
                    &::before {
                        border: solid 1px var(--semantic-color-slate-solid-surface-normal-high) !important;
                        border-right: none !important;
                    }
                    .badge {
                        color: var(--semantic-color-slate-solid-surface-normal-high) !important;
                    }
                }
            }
        }
    }
}